<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>JMeter</string>
    <key>CFBundleIdentifier</key>
    <string>org.apache.jmeter</string>
    <key>CFBundleName</key>
    <string>JMeter</string>
    <key>CFBundleVersion</key>
    <string>5.6.3</string>
    <key>CFBundleShortVersionString</key>
    <string>5.6.3</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>JMTR</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeName</key>
            <string>JMeter Test Plan</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>jmx</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>jmeter.icns</string>
        </dict>
    </array>
</dict>
</plist>





